img{
    display: block;
    width: 60%;
    height: 60%;
    margin:auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #343a40;
    height: 100vh;
    display: grid;

}
nav{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    cursor: pointer;
    justify-content: center;
    background-color: #ffe436;
    padding: 0.5em;
    color: #fff;
}
nav a {
    text-decoration: none;
    color: #fff;
    padding: 1em;
    margin: 0 1em;
}
main {
    margin-top: 10px;

}
footer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

a:hover {
    color: yellowgreen;
    font-weight: bold;

}
a.footer{
    background-color: white;
}


